<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hammondtr.timersheets" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TimerSheet"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateTimer"
            android:label="@string/title_activity_create_timer"
            android:parentActivityName=".TimerSheet" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hammondtr.timersheets.TimerSheet" />
        </activity>
    </application>

</manifest>
